//colors 
$fonts-color: rgba(30, 32, 41, 1);
$text-color: #7f8186;
$blue-color: #25cfc3;
$light-blue-color: #24cdc1;
$white-color: #fff;
$dark-blue: #115b9b;
$navy-blue: #063156;
$gray-color: #a4a7ae;
$bottom-menu-color: #1b1d27;
$black-color: #1e2029;
$dark-gray: #35373F;