.container-catalog {
    margin: 0 -1.5% 20px -1.5%;
}

.catalog {
    width: 350px;
    float: left;
    margin: 20px 1.5%;
}

@media only screen and (max-width: 800px) {
    .catalog {
        width: 90%;
    }
}

@media only screen and (max-width: 1140px) and (min-width: 800px) {
    .catalog {
        width: 47%;
    }
}

.catalog img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}

.value h1 {
    font-family: "Cambay", sans-serif;
    font-size: 32px;
    font-style: italic;
    color: #24cdc1;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 70px;
    margin-bottom: 0;
}

.value h2 {
    border-bottom: 1px solid #3d3f47;
    color: $white-color;
    font-family: "Cambay";
    font-size: 25px;
    margin: 0;
    padding: 20px 0 5px 25px;
}

.wrapper {
    margin: 0 auto;
    width: 1140px;
}

@media only screen and (max-width: 1140px) {
    .wrapper {
        width: 92%;
    }
}

.description {
    background-color: #1b1d27;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -5px;
}

.description p {
    margin: 0;
    padding: 15px 25px;
}

.cost {
    color: #24cdc1;
    font-size: 20px;
}

.second-cost {
    color: #acadb2;
    font-style: italic;
    font-size: 12px;
}

.second-cost:before {
    content: "|";
    font-style: normal;
    font-size: 10px;
    opacity: 0.5;
    padding-right: 5px;
}

.description button {
    border-radius: 4px;
    border: none;
    background-color: $dark-blue;
    color: #fff;
    cursor: pointer;
    font-family: "Cambay";
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    height: 40px;
    width: 90%; 
    margin: 4% 5% 6% 5%;
    text-transform: uppercase;
    transition: 0.5s;
}

.description button:hover {
    background-color: $light-blue-color;
}